@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-gray: #f5f6fa;
  --color-green: #40916c;
  --color-dark: #0d213f;

  --bg: var(--color-gray);
  --bg-surface: var(--color-white);
  --nav-link-hover: var(--color-green);
  --text-primary: var(--color-dark);
  --btn-primary: var(--color-dark);
  --btn-primary-hover: var(--color-dark-soft);
  --btn-outline-primary: var(--color-gray);
  --btn-outline-primary-hover: var(--color-dark);

  --icon-primary: var(--color-green);
}

[data-theme="dark"] {
}

@font-face {
  font-family: Arimo;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/arimo/Arimo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Arimo;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/arimo/Arimo-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Arimo;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/arimo/Arimo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Arimo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/arimo/Arimo-Regular.ttf") format("truetype");
}

@theme {
  --font-display: "Arimo", sans-serif;
}

@theme inline {
  --color-bg: var(--bg);
  --color-bg-surface: var(--bg-surface);

  --color-nav-link-hover: var(--nav-link-hover);

  --color-text-primary: var(--text-primary);

  --color-btn-primary: var(--btn-primary);
  --color-btn-primary-hover: var(--btn-primary-hover);
  --color-btn-outline-primary: var(--btn-outline-primary);
  --color-btn-outline-primary-hover: var(--btn-outline-primary-hover);
  --color-icon-primary: var(--icon-primary);
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: 300ms background-color ease;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

/* Opacity Animations */
.custom-opacity-animate-200 {
  animation: opacityAnimate200 200ms ease forwards;
}

@keyframes opacityAnimate200 {
  to {
    opacity: 100%;
  }
}
